body 
{
  padding-top: 50px;
  padding-bottom: 33px;
}
#d1
{
  text-align:center;
  width: 160px;
  height: 160px;
  border:2px solid red;
}
#d2
{
  width: 140px;
  height: 120px;
  border:2px solid green;
}
#d3
{
  width: 140px
  height: 20px;
  border:2px solid blue;
}
.footer
{
  position: fixed;
  left: 70px;
  right: 50px;
  bottom: 10px;
  z-index: 1030;
  width: 210px;
  height: 35px;  
  text-align:center;
  line-height:35px;  
  border-radius:10px;
  border:2px solid #C5c5c5;
  background-color:#FFFFFF;
}
#mymodal
{
  position:fixed;
  top:20%
}
.search
{ 
  position: relative;  
  left: 5px;
  bottom: 2px;
  width:150px;
  height:28px;
  border-radius:5px;
  border:none;
  outline:none;
  line-height:28px;
}
#btn
{
  position: relative;  
  top:0px;
  left:5px;
  height:31px;
  color:#FFF";
  border:2px solid #C5c5c5;
  border-radius:5px;
  text-align:center;
  line-height:28px;
}
