body
{
  text-align:center;
}

.d
{
  text-align:center;
  margin: 5px auto;
  width: 340px;
  height: 200px; 
  border:2px solid #555555; 
}

.d1
{
  text-align:center;
  margin: 5px;
  width: auto;
  height: auto; 
  float: left;
  border:2px solid #C5C5C5; 
}

.d2
{ 
  margin: 5px;
  width: 140px;
  height: 140px;
  border: 2px solid green;
}

.d3
{
  margin: 5px;
  width: 140px;
  height: 20px;
  border: 2px solid blue;  
}

