#d1
{
  text-align:center;
  margin:auto;
  border:2px solid #C5C5C5;
  
}
#d2
{ 
  margin: 10px;
  width: 160px;
  height: 160px;
  border: 2px solid green;
  
}
#d3
{
  margin: 10px;
  width: 160px;
  height: 30px;
  border: 2px solid blue;
  
}
